{% import "/bebit-tech-hubspot-theme/vars.html" %}

{# if user selects the page, module.form.redirect_url doesn't work properly #}
{# it only works when user inputs the url link e.g. https://example.com #}
{# so if user selects page, we get the page's absolute url #}
{% set redirectLink = module.form.redirect_id ? content_by_id(module.form.redirect_id).absolute_url : module.form.redirect_url %}

<section class="form-block">
  <div class="container d-flex">
    <div class="text">
      {% if module.sub_heading %}
      <strong class="title">{{ module.sub_heading }}</strong>
      {% endif %}
      {% if module.heading %}
      <h2>{{module.heading}}</h2>
      {% endif %}
      {% if module.detail %}
      <p>{{ module.detail }}</p>
      {% endif %}
      {% if module.checklist %}
      <ul class="checklist checklist-dark">
        {% for item in module.checklist %}
        <li>{{item}}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="form --events-form">
      <form class="form-wrap form-validation" action="#" data-id="{{ module.form.form_id }}" method="Post" data-redirect="{{ redirectLink }}">
			  <div class="form-step">
					<div class="form-row">
						<div class="form-col">
							<div class="form-group">
								<label for="input1">姓<span class="txt-required">*</span></label>
								<input type="text" placeholder="姓" id="input1" name="lastname" aria-required="true">
							</div>
						</div>
						<div class="form-col">
							<div class="form-group">
								<label for="input2">名<span class="txt-required">*</span></label>
								<input type="text" placeholder="名" id="input2" name="firstname" aria-required="true">
							</div>
						</div>
						<div class="form-col full">
							<div class="form-group">
								<label for="input3">公司信箱<span class="txt-required">*</span></label>
								<input type="email" placeholder="Email" id="input3" name="email" aria-required="true">
								<span class="email-domain-error" data-text=""></span>
							</div>
						</div>
						<div class="form-col">
							<div class="form-group">
								<label for="input4">聯絡電話<span class="txt-required">*</span></label>
								<input type="text" placeholder="聯絡電話" id="input4" name="phone" aria-required="true">
							</div>
						</div>
						<div class="form-col">
							<div class="form-group">
								<label for="input4">公司名稱<span class="txt-required">*</span></label>
								<input type="text" placeholder="公司名稱" id="input4" name="company" aria-required="true">
							</div>
						</div>
						<div class="form-col">
							<div class="form-group">
								<label>公司產業<span class="txt-required">*</span></label>
								<select name="company_industry" aria-required="true">
									<option placeholder>公司產業</option>
									<option>服飾業</option>
									<option>美妝業</option>
									<option>醫療保健業</option>
									<option>食品餐飲業</option>
									<option>寵物業</option>
									<option>零售通路業</option>
									<option>金融業</option>
									<option>數位服務業</option>
									<option>教育業</option>
									<option>旅遊業</option>
									<option>電信業</option>
									<option>廣告公關業</option>
									<option>媒體業</option>
									<option>科技業</option>
									<option>製造業</option>
									<option>汽車業</option>
									<option>其他</option>
								</select>
							</div>
						</div>
						<div class="form-col">
							<div class="form-group">
								<label>公司規模<span class="txt-required">*</span></label>
								<select name="company_size" aria-required="true">
									<option placeholder>公司規模</option>
									<option>1-50 位員工</option>
									<option>51-100 位員工</option>
									<option>101-200 位員工</option>
									<option>201-500 位員工</option>
									<option>501-1,000 位員工</option>
									<option>1,001-5,000 位員工</option>
									<option>5,000+ 位員工</option>
								</select>
							</div>
						</div>
						<div class="form-col">
							<div class="form-group">
								<label for="input7">統一編號<span class="txt-required">*</span></label>
								<input type="text" placeholder="統一編號" id="input7" name="company_id" aria-required="true">
							</div>
						</div>
						<div class="form-col">
							<div class="form-group">
								<label for="input8">部門單位<span class="txt-required">*</span></label>
								<input type="text" placeholder="部門單位" id="input8" name="job_function" aria-required="true">
							</div>
						</div>
						<div class="form-col">
							<div class="form-group">
								<label for="input9">職稱<span class="txt-required">*</span></label>
								<input type="text" placeholder="職稱" id="input9" name="jobtitle" aria-required="true">
							</div>
						</div>
						<div class="form-col">
							<div class="form-group">
								<label for="input9">官方網站<span class="txt-required">*</span></label>
								<input type="text" placeholder="官方網站" id="input9" name="website" aria-required="true">
							</div>
						</div>
						<div class="form-col full">
							<div class="form-group">
								<label>需求來源 / 產品預計使用國家<span class="txt-required">*</span></label>
								<select name="country" aria-required="true" aria-placeholder="請選擇需求來源 / 產品預計使用國家">
									<option placeholder>請選擇需求來源 / 產品預計使用國家</option>
									{% for country in country_list_chinese %}
										<option value="{{ country }}" {% if request.geoip_country == 'tw' and country == '台灣' %}selected{% endif %}>{{ country }}</option>
										{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				{# TEMP TODO REMOVE hidden FOR DEVELOPMENT #}
<!-- 				<p class="text-red-500">TEMP/DEV - PAGE 2 BELOW</p> -->
				<div class="form-step hidden">
					<div class="form-row">
						<div class="form-col inquiry omnisegment-cdp" data-required-value="OmniSegment CDP">
							<div class="form-group">
								<label>是否有經營品牌電商？<span class="txt-required">*</span></label>
								<select name="ec" aria-required="true" data-show="ec" data-show-value="是">
									<option placeholder>請選擇是、否</option>
									<option>是</option>
									<option>否</option>
								</select>
							</div>
						</div>
						<div class="form-col ec omnisegment-cdp" data-required-value="OmniSegment CDP">
							<div class="form-group">
								<label>是否有使用開店系統？<span class="txt-required">*</span></label>
								<select name="ec_platform" aria-required="true">
									<option placeholder>請選擇是否使用電商開店系統</option>
									<option>是，使用 91APP</option>
									<option>是，使用 CYBERBIZ</option>
									<option>是，使用 SHOPLINE</option>
									<option>是，使用 Shopify</option>
									<option>是，使用 EasyStore</option>
									<option>是，使用其他電商開店系統</option>
									<option>否，自架品牌電商</option>
									<option>否，僅上架於 PChome, Momo, Shopee 等綜合性電商</option>
								</select>
							</div>
						</div>
						<div class="form-col inquiry omnisegment-cdp" data-required-value="OmniSegment CDP">
							<div class="form-group">
								<label>公司電商行銷團隊人數<span class="txt-required">*</span></label>
								<select name="mkt_team_size" aria-required="true" aria-inquiry-service="true" hero>
									<option placeholder>請選擇行銷團隊人數</option>
									<option>1-2 人</option>
									<option>3-7 人</option>
									<option>8-15 人</option>
									<option>16-30 人</option>
									<option>30 人以上</option>
									<option>無</option>
								</select>
							</div>
						</div>
						<div class="form-col inquiry omnisegment-cdp" data-required-value="OmniSegment CDP">
							<div class="form-group">
								<label>是否有線上會員？<span class="txt-required">*</span></label>
								<select name="membership" aria-required="true">
									<option placeholder>請選擇現有會員人數</option>
									<option>是，5,000 人以下</option>
									<option>是，5,001-20,000 人</option>
									<option>是，20,001-100,000 人</option>
									<option>是，100,001-200,000 人</option>
									<option>是，200,001-500,000 人</option>
									<option>是，500,001 人以上</option>
									<option>否</option>
									<option>不確定</option>
								</select>
							</div>
						</div>
						<div class="form-col inquiry omnisegment-cdp" data-required-value="OmniSegment CDP">
							<div class="form-group">
								<label>是否有經營實體門市／通路？<span class="txt-required">*</span></label>
								<select name="physical_stores" aria-required="true">
									<option placeholder>請選擇門市數量</option>
									<option>是，5 家以下</option>
									<option>是，6-10 家</option>
									<option>是，11-50 家</option>
									<option>是，51-100 家</option>
									<option>是，100 家以上</option>
									<option>否</option>
									<option>不確定</option>
								</select>
							</div>
						</div>
						<div class="form-col inquiry omnisegment-cdp" data-required-value="OmniSegment CDP">
							<div class="form-group">
								<label>是否已使用 CRM?<span class="txt-required">*</span></label>
								<select name="crm" class="crm" aria-required="true">
									<option placeholder>請選擇是、否</option>
									<option>是</option>
									<option>否</option>
								</select>
							</div>
						</div>

					
					</div>
					<div class="form-group">
						<ul class="checkbox-list full" aria-required="true">
							<li>
								<label>
									<input type="checkbox" name="terms">
									<span class="slide">
										<svg class="icon">
											<use xlink:href="#checked"></use>
										</svg>
									</span>
									<span class="slide-txt">我同意 beBit TECH 的<a href="/privacy-policy" target="_blank">隱私權保護政策</a></span>
								</label>
							</li>
						</ul>
					</div>
				</div>
				<div class="submit-holder">
					<ul class="submit-list">
						<li class="hidden"><a href="#" class="btn btn-outline btn-prev">{% if content.language.languageTag == 'en' %}Prev{% else %}上一頁{% endif %}</a></li>
						<li><input type="submit" class="btn btn-outline" {% if content.language.languageTag == 'en' %}value="Next"{% else %}value="下一頁"{% endif %}></li>
					</ul>
					<ul class="step-num">
						<li class="active"><span>1</span></li>
						<li><span>2</span></li>
					</ul>
				</div>
			</form>
    </div>
  </div>
</section>
